<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Movie Library</title>
    <link rel="stylesheet" href="/assets/css/delete-btn.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/output.css" />
</head>

<body>
    <!-- navigation -->
    <header>
        <h1>My Movie Library</h1>
        <nav>
            <ul>
                <!-- Add link to search html page-->
                <li>
                    <a href="/search">Search</a>
                </li>
                <li>
                    <a>My Profile</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="to-watch" class="my-movies-lists">
            <div class="flex-row">
                <h2 class="section-title section-border">To Watch</h2>
            </div>
            {{#each to_watch}}
            <div class="mx-auto justify-center movie sm:h-400 lg:h-530 w-375 text-center">
                <img class="mx-auto sm:h-1/2 md:h-5/6 lg:h-5/6 w-5/6" src={{Poster}}>
            </div>

            {{/each}}
        </section>
        <!-- Hardcoded watched movie divs-->
        <section id="watched" class="my-movies-lists">
            <div class="flex-row">
                <h2 class="section-title section-border">Watched</h2>
                {{#each watched}}
                <div class="mx-auto justify-center movie sm:h-400 lg:h-530 w-375 text-center">
                    <img class="mx-auto sm:h-1/2 md:h-5/6 lg:h-5/6 w-5/6" src={{Poster}}>
                </div>

                {{/each}}
        </section>
    </main>

    <footer>
        <a id="ournames">Bryce Stockman, Jessica Groves, Kai Whitney, Kayce Heap</a>
        <a id="cw"> 2022 </a>
        <form id="contactform">
            <a> Contact Us </a>
            <label for="email">Enter your email:</label>
            <input type="email" id="email" name="email">
            <input type="submit">
        </form>
    </footer>
    <script src="./assets/js/omdb.js"></script>
    <script src="./assets/js/delete-btn.js"></script>
    <script src="./assets/js/star-rating.js"></script>
    <script src="./assets/js/script.js"></script>
</body>