<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type='text/css' href='/assets/css/login.css' />
  <title>Login</title>
</head>

<body>
  <div class="container">
    <div class="login-container">
      <h1>My Movie Library</h1>
      <form id="login-form">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" type="password"><br><br>
        <input type="submit" value="Login">
      </form>
      <span class="register"><a href="/register">Register</a> for an account</span>
    </div>
  </div>
</body>
<script src='/assets/js/login.js'></script>

</html>