* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
}
header {
    padding: 20px 235px;
    background-color: #74a8e2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
  }
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #000000;
    margin: 0;
    text-shadow: 0 0 10px rgba(10, 37, 78, 0.527);
}
  
header a {
    text-decoration: none;
    color: #000000;
    left: -150px;
  }
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    float: left;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
    background: #0d10a7;
    color: #74a8e2;
    border-radius: 15px;
    text-shadow: none;
}

section {
    padding: 60px;
}
.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start
}
.hero-form {
  border: 3px solid #0d10a7;
  background-color: #ffffff;
  padding: 20px;
  color: #000000;
  width: 40%;
  margin: 3.5%;
}
.hero-cta {
    width: 10%;
    text-align: left;
    margin: 3.5%;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 1.2;
}
.intro p {
    line-height: 1.7;
    color: #000000;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center
}
.continue-watching {
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start
}

.first-watching {
  width: 90%;
  height: 200px;
  /* background-color: #fce138;
  background-image: url("../images/run-buddy.jpg"); */
  border-color: #0d10a7;
  border-width: 2px;
  margin: 0 auto 35px auto;
}
.second-watching {
  width: 40%;
  height: 100px;
  /* background-color: #fce138;
  background-image: url("../images/robot-gladiator.jpg"); */
  border-color: #0d10a7;
  border-width: 2px;
  margin: 0 5% 35px auto;
}

.section-title {
    font-size: 35px;
    color: #a3a3a3;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 200%;
}
  
.primary-border {
    border-color: #0d10a7;
}
  
.secondary-border {
    border-color: #000000;
}
  


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }
    
      footer h2, footer div {
        text-align: center;
        width: 100%;
      }
      .hero-cta, .hero-form {
        width: 100%;
      }
      
      .hero-cta {
        text-align: center;
      }
      .section-title {
        width: 80%;
      }
      
    }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
            padding: 30px 15px;
          }
        
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
      }
    
      .section-title {
        width: 95%;
      }
    
      .intro p {
        width: 100%;
      }
  }