.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto
}

.mr-1 {
  margin-right: 0.25rem
}

.flex {
  display: flex
}

.table {
  display: table
}

.w-4 {
  width: 1rem
}

.w-375 {
  width: 375px
}

.w-5\/6 {
  width: 83.333333%
}

.grow {
  flex-grow: 1
}

.flex-row {
  flex-direction: row
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded {
  border-radius: 0.25rem
}

.text-center {
  text-align: center
}

.text-yellow-500 {
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity))
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

@media (min-width: 640px) {
  .sm\:h-1\/2 {
    height: 50%
  }
}

@media (min-width: 768px) {
  .md\:h-5\/6 {
    height: 83.333333%
  }
}

@media (min-width: 1024px) {
  .lg\:h-530 {
    height: 530px
  }

  .lg\:h-5\/6 {
    height: 83.333333%
  }
}